* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.container {
    max-width: 960px;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #110e0d;
    font-weight: 300; 
}
.project-1 {
    text-align: center;
}
.project-2 {
    text-align: center;
}
.project-3 {
    text-align: center;
}
.name {
    text-align: right;
    text-transform: uppercase;
}
hr {
    height: 5px;
    background-color: rgb(19, 241, 241);
    max-width: 960px;
    margin: 15px 0;
}
.text-name {
    font-size: 45px;
}
